In [5]:
# defining the function

def checkEven():
    n = 345
    if n%2==0:
        print('even')
    else:
        print('odd')
        
# calling the function
checkEven()

odd

In [15]:
# defining the function

def checkEven_v2(n):
    
    if n%2==0:
        print('even')
    else:
        print('odd')
        
# calling the function
a = int(input())
print(f'value = {a} ')
checkEven_v2(a)

value = 6
even

In [22]:
def addNums(a,b):
    print(a+b)
    
    
res = addNums(45,45)
res

90

>>> return value

In [27]:
def prodNums(a,b):
    # print(a*b)
    return a*b  # automatic break with return

res2 = prodNums(5,5)
res2

25

25

In [30]:
def getEven(s,e):
    for i in range(s,e):
        if i%2 ==0:
            print(i)
            # return # loop doesn't return multiple values using return

In [38]:
a,b = int(input()), int(input()) 
print(f'Range {a} - {b} for even numbers are : ')
getEven(a,b)

Range 1 - 10 for even numbers are :
2
4
6
8

In [39]:
def returnMultiple(a,b,c):
    return a,b,c

In [42]:
ans = returnMultiple(2,3,4)
ans

(2, 3, 4)

In [43]:
type(ans)

tuple

In [20]:
def check_prime(n):    
    for i in range(2, n//2):
        if n%i==0:
            print('not prime')
            break
        elif n == 1:
            print('not prime')
        else:
            print('prime')

In [21]:
print(check_prime(1))

None

In [2]:
# prime

def check_prime(num):
    for i in range(2,num):
        if num % i == 0:
            return False
    else:
        return True
   
# calling the function
print("is number 12 prime?",check_prime(12))
print("is number 13 prime?",check_prime(13))
print("is number 15 prime?",check_prime(15))

is number 12 prime? False
is number 13 prime? True
is number 15 prime? False

>>> 7Mar  Create a function for getting prime numbers in range 100 - 500

In [8]:
def prime(a,b):
    for num in range(a,b+1):
        if num>1:
            for i in range(2,num):
                if num%i==0:
                    break
            else:
                print(num)
    return " prime number in range " ,a,b
            
lower = int(input("Enter the lower value:"))
upper = int(input("Enter the upper value:"))    
print(prime(lower,upper))

101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
(' prime number in range ', 100, 500)

fact
auto animation
min. text
min slides 30

### Required Parameter

In [1]:
def diff(a,b):
    return a - b

In [3]:
diff(5,8)

-3

### Default Parameters

In [10]:
def getArea(r, pi = 3.14):
    return pi * r * r

In [13]:
getArea(4)

50.24

In [26]:
def addNumberv2(x = 20, y = 10):
    return x+y

In [28]:
addNumberv2(y = 7)

27

>>> lambda expression

>>> map and filter

In [4]:
x = list(range(1,11))
print(x)
# iterator are those things which are iterable using loops such as list 
list(map(lambda i: i+5, x))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [5]:
x = list(range(1,11))
print(x)
# iterator are those things which are iterable using loops such as list 
list(map(lambda i: i*i, x))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
numbers = list(map(int, input(">>>").split(',')))

In [3]:
numbers

[1, 2, 3, 4, 5, 6]

In [4]:
list(map(int, input(">>>")))

ValueError: invalid literal for int() with base 10: ','

In [26]:
def is_prime(n):
    if n == 1:
        return False
    for i in range(2,n):
        if n% i == 0:
            return False
    return True

In [27]:
x = list(range(1,11))
list(filter(is_prime,x))

[2, 3, 5, 7]

>>> Create a function to calculate simple interest and assume interest rate 4.5%

In [29]:
def simpleInterest(p, t, r = 4.5):
    return (p * r * t)/100

In [32]:
simpleInterest(200,1)

9.0

In [33]:
#Verify

print((200*4.5*1)/100)

9.0

### Variable Length Parameter

In [43]:
def check_var(*m):
    print(type(m))
    print(m)

In [44]:
check_var(234, 122, 33, 23, 23, 432)

<class 'tuple'>
(234, 122, 33, 23, 23, 432)

In [37]:
def calci_add(*a, *b):
    return a + b

SyntaxError: invalid syntax (2479837400.py, line 1)

>>> Create a function to take numbers and calculate their average.

In [48]:
def calcAvg(*a):
    return (sum(a))/len(a)

In [49]:
calcAvg(1,2,3,4,5,6,7,8,9)

5.0

In [50]:
# verify

print((1+2+3+4+5+6+7+8+9)/9)

5.0

>>> 0. 31/3/22
>>> 1. Create a function to find prime number in given range.
>>> 2. Create a function that finds a name from the given set of names.

In [2]:
def prime(a,b):
    for num in range(a,b+1):
        if num>1:
            for i in range(2,num):
                if num%i==0:
                    break
            else:
                print(num)
    return " prime number between range " ,a,b
            
lower = int(input("Enter the lower value:"))
upper = int(input("Enter the upper value:"))    
print(prime(lower,upper))

41
43
47
(' prime number between range ', 40, 50)

In [10]:
def findString():
    l3 = []
    n = int(input("Enter number of friends : "))
    for i in range(0,n):
        ele = input()
        l3.append(ele) 
    print(l3)

In [2]:
def findName(tofind, namelist):
    if tofind in namelist:
        print('name exists')

In [4]:
findName('leon', ['leon','ada','louis'])

name exists

In [8]:
def findName(tofind, *namelist):
    if tofind in namelist:
        return('name exists')
        
print(findName('leon', 'leon','ada','louis'))

name exists

### Keyword Parameter

In [12]:
def getDetails( **detail ):
    print(type(detail))
    print(detail)
    
getDetails(name = 'Gaurav', rollno = 12345)

<class 'dict'>
{'name': 'Gaurav', 'rollno': 12345}

In [15]:
def displayDetails(**details):
    print(f"Name : {details.get('name')}")
    print(f"Roll no. : {details.get('rollno')}")

In [16]:
displayDetails(name= 'gaurav', rollno = 12345)

Name : gaurav
Roll no. : 12345

### Map

In [20]:
nums = [1,2,3,4,5]

In [21]:
#list
newlist = []
for i in nums:
    newlist.append(i**2)
print(newlist)

[1, 4, 9, 16, 25]

In [23]:
#map
# 2nd parameter - iterator
# 1st parameter - lambda expression

tuple(map(lambda i : i**2, nums ))

(1, 4, 9, 16, 25)

In [30]:
tuple(map(lambda i : i**2, nums ))

(1, 4, 9, 16, 25)

In [53]:
prices = [ 'Rs.104', 'Rs.3844', 'Rs.214', 'Rs.43']
list(map(lambda i : int(i.strip('Rs.')), prices ))

[104, 3844, 214, 43]

In [54]:
prices = [ 'Rs.104', 'Rs.3844', 'Rs.214', 'Rs.43']
list(map(lambda i : int(i[3:]), prices ))

[104, 3844, 214, 43]

### Filter

In [55]:
nums

[1, 2, 3, 4, 5]

In [58]:
tuple(filter(lambda i : i%2==0, nums))

(2, 4)

In [59]:
values = [12000, 15000, 9500, 35000, 45000, 70000]

In [60]:
for i in filter(lambda p : p<= 30000, values):
    print(i)

12000
15000
9500


 0. 1 April
>>> 1. Wap to filter price less than 10000, prices = [ 'Rs.10400', 'Rs.3844', 'Rs.2140', 'Rs.40003' ]
>>> 2. Wap to get first names from the list of full names.

In [1]:
prices = ['Rs.10400', 'Rs.3844', 'Rs.2140', 'Rs.40003']

In [2]:
price_int = list(map(lambda i : int(i.strip('Rs.')), prices ))

In [3]:
list(filter(lambda a : a<= 10000, price_int ))

[3844, 2140]

In [4]:

names = ["Tony Stark", 'Thor', 'Peter Parkr', 'Bruce Wayne']

print(list(map(lambda b : b.split()[0], names)))

['Tony', 'Thor', 'Peter', 'Bruce']

In [7]:
(list(map(lambda b : b[:5], names)))

['Tony ', 'Thor', 'Peter', 'Bruce']

In [8]:
(list(map(lambda b : b.strip()[:5], names)))

['Tony ', 'Thor', 'Peter', 'Bruce']