In [1]:
l1 =  [1, 2, 3, 4, 5]

In [2]:
l2 = []
l3 = list()

In [4]:
len(l1)

5

In [5]:
len(l2)

0

In [6]:
l1[2]

3

In [7]:
l1[-3]

3

In [8]:
l1[2:4]

[3, 4]

In [9]:
l1[::4]

[1, 5]

>>> ### List
- ordered
- contains any arbitrary objects
- mutable < change values in runtime >
- dynamic < size can be changed >

In [11]:
nested = [1, 2, 3, [4, 5, 6, [7, 8, 9]]]

In [13]:
l1[4] = 55

In [14]:
l1

[1, 2, 3, 4, 55]

In [15]:
'xyz' * 5

'xyzxyzxyzxyzxyz'

>>> ### List Function

>>> inbuilt

In [16]:
len(l1)

5

In [18]:
sum(l1)

65

In [19]:
min(l1)

1

In [20]:
max(l1)

55

In [21]:
sum(l1) / len(l1)

13.0

>>> ...

In [34]:
fruits = ['apple', 'guava', 'pineapple', 'grapes', 'cherry']

In [23]:
type(fruits)

list

In [24]:
fruits.append('strawberry')

In [25]:
fruits

['apple', 'guava', 'pineapple', 'grapes', 'cherry', 'strawberry']

In [42]:
# 1 march
fruits.count('apple')

1

In [31]:
# 1 march
fruits.clear()

In [36]:
fruits

['apple', 'guava', 'pineapple', 'grapes', 'cherry']

In [38]:
# 1 march
fruits.index('apple')

0

In [39]:
fruits.remove('guava')

In [40]:
fruits

['apple', 'pineapple', 'grapes', 'cherry']

>>> create a program to take 5 friends names as input and store them in a list

In [46]:

l3 = []
n = int(input("Enter number of friends : "))
for i in range(0, n):
    ele = input()
    l3.append(ele) 
print(l3)

['gaurav', 'Anuj', 'Manish', 'Ujjwal', 'Subham']

In [1]:
sal_range = ["$10,000 - $25,000", "$26,000 - $50,000", "$51,000 - $89,000", "$89,000 - $106,000"]

In [7]:
for salary in sal_range:
    print(salary)
    sal1, sal2 =salary.split('-')
    s1 =int(sal1.strip('$ ').replace(',',""))
    s1 =int(sal2.strip('$ ').replace(',',""))

$10,000 - $25,000
$26,000 - $50,000
$51,000 - $89,000
$89,000 - $106,000

In [2]:
for i in sal_range:
    sn = i.split('-')
    print(sn)
    # print(i.strip('$ ').replace(',',""))

['$10,000 ', ' $25,000']
['$26,000 ', ' $50,000']
['$51,000 ', ' $89,000']
['$89,000 ', ' $106,000']

In [3]:
s1, s2 =i.split('-')

In [4]:
s11 =int(s1.strip('$ ').replace(',',""))
s12 =int(s2.strip('$ ').replace(',',""))

In [5]:
(s11+s12)/2

97500.0

In [8]:
#copy 
x = [1,2,3]

In [9]:
y = x

In [10]:
x.append(4)

In [11]:
z = x.copy()

In [12]:
x.remove(2)

In [13]:
x

[1, 3, 4]

In [14]:
z

[1, 2, 3, 4]

In [3]:
odds = [1,3,5,7,9]
evens = [2,4,6,8,10]

In [16]:
odds+evens

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [17]:
odds.extend(evens)  #for adding multiple elements

In [18]:
odds

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [19]:
odds.extend(range(11,21))

In [20]:
odds

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [21]:
odds.extend('abcd')

In [22]:
odds

[1,
 3,
 5,
 7,
 9,
 2,
 4,
 6,
 8,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 'a',
 'b',
 'c',
 'd']

>>> square the list of elements of evens in a new list

In [4]:
evens

[2, 4, 6, 8, 10]

In [5]:
sq_nums = []
for i in evens:
    s = i **2
    sq_nums.append(s)
print(sq_nums)

[4, 16, 36, 64, 100]

>>> Zip Function

In [6]:
added = []
for i, j in zip(sq_nums, evens):
    print(i,'+',j,'=',i+j)
    added.append(i+j)

4 + 2 = 6
16 + 4 = 20
36 + 6 = 42
64 + 8 = 72
100 + 10 = 110

In [48]:
added

[6, 20, 42, 72]

In [43]:
# removes and returns the last elemnet

added.pop()

110

In [44]:
added

[6, 20, 42, 72]

In [8]:
#sort permanently

nums = [23,545,6,7,4,45,2,34,656,3,]
nums.sort()

In [3]:
nums

[2, 3, 4, 6, 7, 23, 34, 45, 545, 656]

In [4]:
# returns sorted version of list
sorted(nums, reverse=True)

[656, 545, 45, 34, 23, 7, 6, 4, 3, 2]

In [5]:
nums2 = [34, 1, 5, 2, 8, 3]

In [6]:
nums2.reverse()

In [7]:
nums2

[3, 8, 2, 5, 1, 34]

In [50]:
duplicates = [1, 3, 5, 6, 3, 5, 6, 1]
print(duplicates)

uniques = []
for i in duplicates:
    if i not in uniques:
        uniques.append(i)
  
print (uniques)

[1, 3, 5, 6, 3, 5, 6, 1]
[1, 3, 5, 6]