### Indexing

In [19]:
name = "Tony Stark"

In [20]:
name[5]

'S'

In [21]:
name[5:11]

'Stark'

In [50]:
name[::-1]

'kratS ynoT'

In [52]:
n = 345678
int(str(n)[::-1])

876543

>>> Formatting fumctions

In [1]:
hero = "steve rogers"

>>> upper lower swapcase capatalize title -22 Feb

In [2]:
hero.upper()

'STEVE ROGERS'

In [3]:
hero.lower()

'steve rogers'

In [4]:
hero.swapcase()

'STEVE ROGERS'

In [5]:
hero.capitalize()

'Steve rogers'

In [6]:
hero.title()

'Steve Rogers'

>>> Logical Functions

In [7]:
hero.islower?

Signature: hero.islower()
Docstring:
Return True if the string is a lowercase string, False otherwise.

A string is lowercase if all cased characters in the string are lowercase and
there is at least one cased character in the string.
Type:      builtin_function_or_method

>>> isalpha isnumerica isalnum endswith -22 feb

In [8]:
hero.isalpha()

False

In [9]:
hero.isnumeric()

False

In [10]:
hero.isalnum()

False

In [11]:
hero.endswith("y")

False

>>> Utility Function

In [12]:
movie = "Spider man no way home"

In [13]:
movie.count('a')

2

In [14]:
movie.find('No')

-1

In [15]:
movie.index('no')

11

>>> Wap to count the number of vowels in your name -22 Feb

In [2]:
name = input(" Please Enter your name :")
vowels = 0
for i in name:
    if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
        vowels = vowels + 1
print(f"Number of vowels in your name  *{name}* =: ",vowels)

Number of vowels in your name  *Gaurav Tiwari* =:  6

In [16]:
hero1 = input()
s = "AEIOUaeiou"
count = 0
for i in hero1:
    if i in s:
        count += 1
print(f"vowels are in your name *{hero1}* =: ",count)

vowels are in your name *Gaurav Tiwari* =:  6

In [2]:
string = input()
string.split()

['Gaurav', 'Tiwari']

In [5]:
url = "https://meet.google.com/yun-rcuf-fhi"

In [6]:
url.split('/')

['https:', '', 'meet.google.com', 'yun-rcuf-fhi']

In [7]:
url.replace('t','_')

'h__ps://mee_.google.com/yun-rcuf-fhi'

In [8]:
salary_range = "$23,000 - $65,000"

In [9]:
salary_range.split('-')

['$23,000 ', ' $65,000']

In [10]:
'      abc  '.strip()

'abc'

In [11]:
sal1, sal2 = salary_range.split('-')

In [12]:
sal1.strip('$ ')

'23,000'

In [16]:
s1 =int(sal1.strip('$ ').replace(',',""))
s2 =int(sal2.strip('$ ').replace(',',""))

In [17]:
(s1+s2)/2

44000.0

>>> wap to take user input and check the data, if the data is numeric, convert it to number else if the data is alphanumeric then extract only numbers and convert it

In [2]:
data = input("please, enter some data:")
print(data)
if data.isnumeric():
    num = int(data)
    print("data converted to number:",num)
elif data.isalnum():
    temp = ''
    for char in data:
        if char.isnumeric():
            temp += char
    if temp:
        num = int(temp)
        print("data converted to number:",num)
    else:
        print('data is only alphabets')
else:
    print("data is weird")

hhgfgs55798
data converted to number: 55798

In [1]:
salary_range = "$23,000 - $65,000"

In [5]:
salary_range.strip()

'$23,000 - $65,000'

In [9]:
type(salary_range.strip())

str

In [7]:
salary_range.split()

['$23,000', '-', '$65,000']

In [8]:
type(salary_range.split())

list